

<div class="main-div " >
    <mat-card class="shadow" *ngFor="let meter of allMeters; index as i" >

        <div class="inside_main">
            <div>
                <header class="left">Meter Name:<strong>{{meter.mName}}</strong></header>
                <ul>
                    <li>  {{i}} Created Date: {{meter.mDate}}</li>
                    <li>Created Time: {{meter.mTime}}</li>
                </ul>
            </div>

            <div class="right" style="padding: 1rem;">
                good
              <app-graph [meterReading]="meter.mReading" [meterId]="meter._id" [index]="i"></app-graph>
            </div>

        </div>
    </mat-card>
</div>
 