.dashboard-root{
padding-top: 6rem;

    justify-content: center;
    text-align: center;
}
.table-root{
  width:50%
}
.nav-link-cls:hover {
  background-color: rgb(203, 236, 255);
  position: absolute;
}
.header{
  margin-top: 57px;
}
.header>nav>i{
  font-size: 2rem;
  cursor: pointer;
}
.header>nav>i:hover{
color: red;
}
.header>nav>p>strong{
  color: rgb(80, 106, 255);
  font-size: 1.5rem;
  
}
.header>nav>p{
  font-size:1.2rem;
}
.nav-item{
  margin-bottom: 5px;

}
