<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener((click), function () {
            var current = document.getElementsByClassName("active1");
            current[0].class = current[0].class.replace(" active1", "");
            this.class += " active1";
        });
    }
</script>

<div class="header">
    <nav class="navbar navbar navbar-light " style="background-color: hsl(22, 94%, 87%)">
        <div class="d-flex justify-content-center ">
           <div class="container" style="background-color: hsl(22, 100%, 50%)">
            <i class="bi bi-arrow-return-left"></i>
                <a class="navbar-brand " style="background-color: hsl(24, 100%, 1%)" >Navbar</a>
           </div>
        </div>
    </nav>
</div>

<div class="dashboard-root">
    <div class="dashboard">
        <ul class="nav nav-tabs" id="myDIV">
            <div class="nav-item" myDIV>
                <button class=" btn nav-link-cls active1" aria-current="page" (click)="getmetervalue()">All</button>
                <button class=" btn nav-link-cls " aria-current="page">KWH</button>
                <button class=" btn nav-link-cls ">Volt</button>
                <button class=" btn nav-link-cls ">Amp.</button>
                <button class=" btn nav-link-cls ">PF</button>
            </div>

        </ul>
    </div>
    <div class="table">
        <table class="table  ">
            <thead>
                <tr class="text-center">
                    <th scope="col">No</th>
                    <th scope="col">Meter Reading</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time(24-Hr Format)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let readings of meterReadings;index as i">
                    <!-- <th scope="row">1</th> -->
                    <td>{{i+1}}</td>
                    <td>{{meterReadings[i].rValue+" "+meterReadings[i].rUnit}}</td>
                    <td>{{meterReadings[i].rDate}}</td>
                    <td>{{meterReadings[i].rTime}}</td>
                    <td>
                        <button style="margin-right:.5rem;" type="button" class="btn btn-light">Edit</button>
                        <button type="button" class="btn btn-danger" style="margin-right:.5rem;">Delete</button>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>