<!-- <script>
    let func=(button)=>{
        button = Document.getElementsByClassName("kwhBtn").click
     button.click()
     console.log("button");
    }
    func()
</script> -->

<div class="header">

    <nav class="navbar navbar-light d-flex" style="background-color: #d1d1d1;">
        <i class="bi bi-arrow-left-circle-fill" (click)="goBack()"></i>


        <p>Meter Name : <strong>{{meterName}}</strong></p>
    </nav>
</div>
<div class="main d-flex justify-content-center">
    <div class="dashboard-root">
       
        <div class="table-root">
            <div class="nav-item">
                <!-- <button class=" btn nav-link-cls active1" aria-current="page" (click)="getmetervalue()">All</button> -->
                <button class=" btn  btn-light kwhBtn " aria-current="page" (click)="getmetervaluebykwh()">KWH</button>
                <button class=" btn  btn-light " (click)="getmetervaluebyvolt()">Volt</button>
                <button class=" btn  btn-light " (click)="getmetervaluebyamp()">Amp. </button>
                <button class=" btn  btn-light " (click)="getmetervaluebypf()">PF</button>
            </div>
            <table class="table  ">
                <thead>
                    <tr class="text-center">
                        <th scope="col">No</th>
                        <th scope="col">Meter Reading</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time(24-Hr Format)</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let readings of meterReadings;index as i">
                        <!-- <th scope="row">1</th> -->
                        <td>{{i+1}}</td>
                        <td>{{meterReadings[i].rValue+" "+meterReadings[i].rUnit}}</td>
                        <td>{{meterReadings[i].rDate}}</td>
                        <td>{{meterReadings[i].rTime}}</td>
                        <td>
                            <button style="margin-right:.5rem;" type="button" class="btn btn-light">Edit</button>
                            <button type="button" class="btn btn-danger" style="margin-right:.5rem;">Delete</button>
    
                        </td>
                    </tr>
    
                </tbody>
            </table>
            <div  *ngIf="meterReadings.length==0">
                <h2 style="color: red; text-align: center;">No data found</h2>
            </div>
        </div>
    </div>
    <div class="chart-root">
    <app-graph [Cdata]='meterReadings'></app-graph>
    </div>
</div>