

table {
  width: 100%;
  
}
.tableM{
  margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    
    display: flex;
    justify-content: center;
}
.form-error{
  color: red;
}
.btn-success{
  margin-left: 2px;
}
